.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Dark background, you can adjust this */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above everything else */
}

.preloader svg {
  width: 100px;
  height: 100px;
}

/* Styling for all the loaders */
#L4 circle {
  fill: #00f5d4;
}

#L9 rect {
  fill: #00f5d4;
}

#L5 circle {
  fill: #00f5d4;
}

#L6 rect[fill="#fff"] {
  fill: #00f5d4;
}
#L6 rect[fill="none"] {
  stroke: #00f5d4;
}

#L3 circle[fill="#fff"] {
  fill: #00f5d4;
}
#L3 circle[fill="none"] {
  stroke: #00f5d4;
}
#L3 circle[stroke="#e74c3c"] {
  stroke: #00caa8;
}

#L2 circle,
#L2 line {
  stroke: #00f5d4;
}

#L7 path {
  fill: #00f5d4;
}

#L1 circle {
  stroke: #00f5d4;
}
#L1 g rect {
  fill: #00f5d4;
}

#Layer_1 rect {
  fill: #00f5d4;
}
