.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Dark background, you can adjust this */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above everything else */
}

.preloader svg {
  width: 100px;
  height: 100px;
}

/* Additional styles for the preloader SVG */
#L2 circle,
#L2 line {
  stroke: #00f5d4;
}
